html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
}

p { 
	font-size: 25px;
	font-weight: 100;
}

li {
	font-size: 20px;
	font-weight: 100;
}

h4 {
	padding: 0;
    margin: 0;
}

/*Navigation Bar*/

.title img {
	float: left;
	height: 25%;
	width: 25%;
	margin-left: 90px;
}

.title h1 {
	color: black;
	font-size: 40px;
	margin: 23px 20px 20px 40px;
	text-align: center;
	font-family: 'Roboto Slab', sans-serif;
	text-decoration: underline;
}

.title a:hover {
	text-decoration: none;
}

.title h4 {
	font-size: 12px;
	text-align: center;
	margin: -15px 20px 20px 40px;
	font-family: 'Source Sans Pro', sans-serif;
}


.nav.nav-tabs {
 margin-right: 180px;
}

.nav.nav-tabs li {
	margin: 53px 30px 20px 30px;
	color: black;
	display: inline-block;
	font-size: 15px;
	font-weight: 150;
}

/*Background Picture*/
.main {
	background:url(IMG_3405.JPG);
	background-size: cover;
	height: 500px;
	margin-top: 20px;
	opacity: 0.95;
}

/*Doctor Info Section*/

.doctor img {
	margin-top: 30%;
	margin-left: 20%;
	height: 90%;
	width: 90%;
}

.doctor .col-md-4 {
	text-align: center;
}

.doctor p {
	margin-top: 10%;
}

.select {
	text-align: center;
}
.select h3{
	margin-top: 5%;
	margin-bottom: 3%;
}

.doctor ul {
	list-style: none;
	display: inline-block;
	float: left;
	margin-left: 10%;
}

.lists {
	background-color: #36343F;
	border: 3px solid black;
	border-radius: 10px;
	overflow: auto;
	color: white;
	width: 100%;
	text-align: center;
}

/*Buttons*/

.buttons .col-md-6 {
	text-align: center;
}

.buttons a {
	border: 1px solid black;
	color: black;
	border-radius: 3px;
	margin: 80px 0 80px 0;
	padding: 19px 75px 19px 75px;
	font-size: 20px;
	font-weight: bold;
}

.buttons a:hover {
	text-decoration: none;
}

.buttons h4 {
	border: 1px solid black;
	color: black;
	border-radius: 3px;
	margin-top: 80px;
	margin-bottom: 80px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 0 10px 0;
	font-size: 20px;
	font-weight: bold;
	height: 68px;
	width: 410px;
	text-align: center;
}

/*Footer*/

.footer {
	background-color: black;
	width: 100%;
}

.footer address {
	color: white;
	font-size: 12px;
	font-weight: 12px;
	margin-top: 10px;
}

#free {
	color: white;
	font-size: 12px;
	font-weight: 12px;
	margin-top: 10px;	
	padding: 0;
}

/*Media Queries*/

/*Headers and Title*/

@media screen and (max-width: 1437px) and (min-width: 1307px) {
    
    .title h1 {
        font-size: 35px;
    }
    
    .title h4 {
    	font-size: 11px;
    }
}

@media screen and (max-width: 1306px) and (min-width: 1046px) {
    
    .title h1 {
        font-size: 30px;
        margin-left: 20px;
        margin-top: 30px;
    }
     
     .title h4 {
    	font-size: 10px;
    } 

     .title img {
        	height: 23%;
			width:23%;
			margin-left: 70px;
			margin-top: 10px;
   	}
}

@media screen and (max-width: 1084px) and (min-width: 958px) {
    
    .title h1 {
        font-size: 25px;
        margin-left: 20px;
        margin-top: 30px;
        margin-right: 10px;
        
    }
    
    .title h4 {
    	font-size: 8px;
    }   

    .title img {
        	height: 23%;
			width:23%;
			margin-left: 70px;
			margin-top: 10px;
   	}
    
}

@media screen and (max-width: 957px) and (min-width: 833px) {
    
    .title h1 {
        font-size: 25px;
        margin-left: 20px;
        margin-top: 30px;
        
    }
    
    .title h4 {
    	font-size: 8px;
    }   

    .title img {
        	height: 23%;
			width:23%;
			margin-left: 30px;
			margin-top: 15px;
   	}
    
}

@media screen and (max-width: 832px) and (min-width: 0px) {
    
    .title h1 {
        font-size: 25px;
        margin-left: 20px;
        margin-top: 30px;
        margin-right: 10px;
        
    }
    
    .title h4 {
    	display: none;
    }   

    .title img {
        	height: 23%;
			width:23%;
			margin-left: 30px;
			margin-top: 30px;
			display: none;
   	}
    
}


/*Nav Bar*/

@media screen and (max-width: 1437px) and (min-width: 1286px) {
   
    .nav.nav-tabs li {
	margin: 48px 20px 20px 20px;
	}
}

@media screen and (max-width: 1285px) and (min-width: 1150px) {
   
    .nav.nav-tabs li {
	margin: 45px 10px 20px 10px;
	}
	.nav.nav-tabs {
 	margin-right: 140px;
 	padding-bottom: 0px;
	}
}

@media screen and (max-width: 1149px) and (min-width: 925px) {
   
    .nav.nav-tabs li {
	 margin: 40px 10px 20px 10px;
	font-size: 13px;
	font-weight: 100;
	text-align: center;
	}

	.nav.nav-tabs {
		margin-right: 100px;
	
	}
}

@media screen and (max-width: 924px) and (min-width: 838px) {
   
    .nav.nav-tabs li {
	 margin: 40px 10px 20px 10px;
	font-size: 13px;
	font-weight: 100;
	text-align: center;
	}

	.nav.nav-tabs {
		margin-right: 30px;
	
	}
}

@media screen and (max-width: 837px) and (min-width: 804px) {
   
    .nav.nav-tabs li {
	 margin: 40px 10px 20px 10px;
	font-size: 13px;
	font-weight: 100;
	text-align: center;
	width: 100%;
	}

	.nav.nav-tabs {
		margin-right: 100px;
	
	}
}



@media screen and (max-width: 803px) and (min-width: 0px) {
   
    .nav.nav-tabs li {
	 margin: 40px 7px 20px 7px;
	font-size: 11px;
	font-weight: 80;
	text-align: center;
	width: 100%;
	}

	.nav.nav-tabs {
		margin-right: 20px;
	
	}

}

/*Doctor*/

@media screen and (max-width: 993px) and (min-width: 0px) {

.doctor img {
	margin-top: 10%;
	margin-left: 0;
	height: 65%;
	width: 65%;
}

/*Buttons Divs*/

@media screen and (max-width: 992px) and (min-width: 0px) {
   
    .buttons a {
	 	margin: 40px 0 40px 0;
	}

	.buttons h4 {
		margin-top: 40px;
		margin-bottom: 40px;
		margin-left: auto;
		margin-right: auto;
	}

}
